.usados {
    font-size: .875rem;
    font-weight: 400;
    text-transform: uppercase;
}

.filtros {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filtros>p {
    margin: 0;
}

.preco:hover {
    color: white;
}

.ocultar-filtros {
    display: flex;
    align-items: center;
    border: none;
    background-color: transparent;
    font-weight: bold;
    font-size: .85em;
}

.remover-filtros {
    border: none;
    background-color: transparent;
    font-weight: bold;
    color: gray;
    font-size: .85em;
}

.remover-filtros:hover {
    text-decoration: underline;
}

.carros {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

@media(max-width: 992px) {
    .filtros-ocultar {
        display: none;
    }

    .mostrar-ocultar {
        display: none !important;
    }

    .carros {
        width: 100%;
    }

    .resultados {
        width: 100%;
    }
}

@media(min-width: 800px) {
    .cardPequeno {
        width: 300px !important;
        height: auto;
    }
}

@media(max-width: 662px) {
    .cardPequeno {
        width: 500px !important;
        height: auto;
    }
}

.linha-filtros {
    margin-top: 8px;
    margin-bottom: 3px;
}

.filtro-input {
    width: 100%;
    outline: none;
    padding: 10px;
    padding-left: 15px;
    border-radius: 10px;
    border: solid 1px rgba(0, 0, 0, 0.425);
}

.filtro-input::placeholder {
    font-weight: 300;
    opacity: 0.8;
}

.filtro-input:focus {
    border: solid 1px var(--cor-primaria);
}

.svg-filtro {
    font-size: 1.8em;
}

.btn-relevancia {
    border: none;
    background-color: transparent;
}

.relevancia {
    font-weight: 500;
    font-size: .85em;
}

.numero-resultados {
    font-size: .85em;
    color: gray;
    font-weight: 400;
}

.btn-filtros {
    display: none !important;
}

.filtros-tela-toda {
    display: none;
    position: absolute;
    background-color: #fff;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1;
    padding: 15px;
}

@media(min-width: 992px) {
    .filtros-tela-toda {
        display: none !important;
    }
}

.filtros-celular {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}

.mostrar-resultados {
    border: solid 1px black !important;
    color: black !important;
    width: 100%;
}

@media(max-width: 992px) {
    .btn-filtros {
        display: block !important;
    }
}

@media(max-width: 1400px) {
    .cardPequeno {
        width: 250px !important;
    }
}

@media(max-width: 1200px) {
    .cardPequeno {
        width: 300px !important;
    }
}

@media(max-width: 991px) {
    .cardPequeno {
        width: 330px !important;
    }
}

@media(max-width: 767px) {
    .cardPequeno {
        width: 340px !important;
    }
}

@media(max-width: 741px) {
    .cardPequeno {
        width: 325px !important;
    }
}

@media(max-width: 711px) {
    .cardPequeno {
        width: 300px !important;
    }
}

@media(max-width: 662px) {
    .cardPequeno {
        width: 280px !important;
    }
}

@media(max-width: 622px) {
    .cardPequeno {
        width: 100% !important;
    }
}
